.input {
    border: 1px solid #E8E8E8;
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 9px;
    margin: 3px 0;
    padding: 10px;
    font-size: 1em;
    color: #BDBDBD;
    outline-color: #9233DC;
}